@charset "UTF-8";

* {
    margin:0px 0px 0px 0px;
    padding:0px;
}




header.header-full {
    background-color: rgb(146, 146, 146);
}

header > 
        text-decoration: none;
    
}

h1.main-title {
    text-decoration: none;
    position: absolute;
    top: 6%;
    left: 1%;
}

img.main-nbaicon {
padding: 10px;
margin: 0;
width: 120px;
height: 110px;
padding-left: 137px;
}
