@charset "UTF-8";

*  {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image:linear-gradient(to right,#B5B5B3, #FFE9B8);
}
main{
    background-color: white;
    width:600px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3b352696;

    margin: auto;
}
h1 {
 color:#427EFF;
 text-align: center;
 text-shadow: 1px 1px 0px #0c32858c;
}
h2 {
    color:#0E42B3;
}

p {
    text-align: justify;
}
