@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:"android";
    src: url("fontes/idroid.otf")
    format("opentype");
    font-weight: normal ;
}



:root {
    --cor0:#afe4ce;
    --cor1:#6ccea5;
    --cor2:#2caa76;
    --cor3:#3b6353;
    --cor4:#082e1f;
    --cor5:#02140d;

    --fonte-padrão:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'android', arial;

}

* {
    margin:0px 0px 0px 0px;
    padding:0px;
}

   body {
       background-color:var(--cor0);
       font-family: var(--fonte-padrão);
   }

 

  
   header {

    background-image: linear-gradient(to top, var(--cor4),var(--cor3));
    min-height:150px ;
    text-align: center;
    padding-top: 40px;
}

   header > h1 {
       font-weight: normal;
       margin-bottom: 20px;
    color:white;
font-family: var(--fonte-destaque);
font-size: 3em;
text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.712);
   }

   
   
   header > p {
       color:white;
       font-family: var(--fonte-padrão);
       font-size: 1.2em;
      max-width: 500px;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.712);
   }


   nav {
       background-color: var(--cor4);
       padding: 10px;
       box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.384);

   }

   nav > a {
color: var(--cor1);
padding: 10px;
text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.4s;   
   }

   nav > a:hover
   {
       color: var(--cor5);
       background-color: var(--cor2);
   }

   main {
       max-width: 1000px;
       min-width: 300;
       margin: auto;
       padding: 20px;
       background-color: white;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
       margin-bottom: 30px;
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;
   }

   main p {
    margin: 15px 0px 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
 }

 main a {
     text-decoration: none;
     font-weight: bold;
     color: var(--cor4);
     background-color: var(--cor2);
     padding: 2px 6px;
 }

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

 main strong {
     color: var(--cor4);
     font-weight: bold;
     line-height: 2em;
 }
   main img {
       width: 100%;
   }
   
   main img.pequena {
       max-width: 350px;
       display: block;
       margin: auto;
   }

   

   main > article> h1 {
       font-size: 1.8em;
    font-weight: normal;
       color: var(--cor3);
       font-family: var(--fonte-android);
   }

   main > article > h2 {
    font-weight: normal;
        color: var(--cor3);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
   }

div.videoyt {

    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.videoyt > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
     width: 90%;
     height: 90%;
}


aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.397);

}

aside > ul {
    list-style-type: "\2714\00a0";
    list-style-position: inside;
    columns: 2;

}
aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px ;
}


   footer {
       background-color: var(--cor5);
       color: white;
       text-align: center;
       font-size: 0.8em;
       padding: 5px;
   }
   
   footer a {
       color: white;
       font-weight: bolder;
       text-decoration: none;
   }